@import "tailwindcss";

@font-face {
  font-family: Ginger;
  src: url("@/assets/fonts/F37GingerCyrillic-VF.ttf");
}

@font-face {
  font-family: Gothic;
  src: url("@/assets/fonts/Gothic60-Regular.otf");
}

@theme {
  --font-ginger: Ginger, sans-serif;
  --font-gothic: Gothic, sans-serif;
}
